<header class="w-full font-sans bg-white text-[#111111] text-sm px-45">
  <!-- Top Section -->
  <div class="max-w-[1200px] w-full mx-auto flex justify-between items-center px-9 py-2">
    <!-- Logo + Sponsor -->
    <div class="flex items-center gap-2">
      <img src="logos/code-iq.png" alt="CodeIQ Logo" class="h-17" />
      <p>CodeIQ</p>
    </div>

    <!-- Flags and Auth Links -->
    <div class="flex items-center gap-2">
      <a
        routerLink="/signin"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-purple-800 ml-2 hover:underline"
      >
        Enter
      </a>
      <span class="mx-1 text-gray-600">|</span>
      <a
        routerLink="/signup"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-purple-800 hover:underline"
      >
        Register
      </a>
    </div>
  </div>

  <!-- Navigation Bar -->
  <app-navbar></app-navbar>
</header>
